
<html ng-app="Myschoolbord">

	<div class="slider">
		<div id="intro" class="intro2">
			<div class="container">
				<div class="row center-content">
					<div class="col-md-5">
						<h3>Créé en 2017 <b> MySchool.Board</b>  </h3>
						<p>La premiére application <b>SAAS</b> déployée sur<b> Bluemix</b> qui gére prêt de <b>5000</b> élèves répartis en 4 spécialités:Informatique, Télécommunication, Génie Civil et Génie électromécanique. Les formations pouvant être suivis en cours du jour et aussi en cours du soir pour les personnes salariées. Esprit School of Engineering lors de sa création s’est donnée comme mission principale de former des ingénieurs «  autrement ». Pour cela l’école a adopté dès le départ une pédagogie nouvelle, dynamique mettant l’élève au centre de l’apprentissage cela a abouti à l’adoption de l’APP (apprentissage par projet/problème).</p>
						<a href="https://www.facebook.com/Myschoolboard-1322052524575640/" class="app-btn ">Page Facebook <span>Suivez-nous</span></a>
					</div>
					<div class="col-md-6 col-md-push-1">
					<div>
						<img src="img/LogoBlueDiamond.png" alt=""/>
								
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="info-content2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<p class="lead">La premiére application Tunisienne<b> SAAS </b>déployée sur <b>Bluemix</b> qui gére prêt de 5000 élèves répartis en 4 spécialités:Informatique, Télécommunication, Génie Civil et Génie électromécanique. Les formations pouvant être suivis en cours du jour et aussi en cours du soir pour les personnes salariées. Esprit School of Engineering lors de sa création s’est donnée comme mission principale de former des ingénieurs « autrement ». Pour cela l’école a adopté dès le départ une pédagogie nouvelle, dynamique mettant l’élève au centre de l’apprentissage cela a abouti à l’adoption de l’APP (apprentissage par projet/problème).</div>
				<div class="col-md-6 col-sm-6">
					<div class="progress_bar">
						<h5>Informatique</h5>
						<progress class="progress" value="90" max="100"><span>90%</span></progress>
						<h5>Télécommunication</h5>
						<progress class="progress" value="60" max="100"><span>60%</span></progress>
						<h5> Génie Civil</h5>
						<progress class="progress" value="50" max="100"><span>50%</span></progress>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="services2 no-padding">
		<div class="container-fluid no-padding">
				<div class="col-md-4 col-sm-4 service-box bg-gray">
					<i class="icon2-bicycle"></i> 
					<h2>Une pédagogie <br><b>innovante</b></h2>
					<p>
						L’APP (Apprentissage Par Projets/Problèmes) rend l’étudiant pleinement acteur de sa formation. 
					</p>
					
				</div>
				<div class="col-md-4 col-sm-4 service-box service-box-white bg-dark">
					<i class="icon2-diamond"></i> 
					<h2 class="white-text">l'accréditation <br><b>des diplômes</b></h2>
					<p class="white-text">
						Une reconnaissance internationale des formations d’ingénieur acquise depuis 2014 .        <br><br>
					</p>
					
				</div>
				<div class="col-md-4 col-sm-4 service-box service-box-white bg-color1">
					<i class="icon2-magic-wand"></i> 
					<h2 class="white-text">Une grande mobilité à <br><b>l'international</b></h2>
					<p class="white-text">
					Plus de 40 possibilités d'avoir une expérience de vie dans un milieu multiculturel.
					</p>
					
				</div>
		</div>
	</div>

	<div class="info-content3">
		<div class="container">
			<div class="row center-content">
				<div class="col-md-6 col-sm-7">
					<img src="img/2.png" alt="" class="pull-right space50">
				</div>
				
				<div class="col-md-6 col-md-pull-0 col-sm-6 col-sm-pull-1">
					<h2 class="text-uppercase"><b>CLUBS : PILIERS DE LA VIE ESTUDIANTINE</b></h2>
					<div class="space40"></div>
					<p class="lead">
						Avec plus de 40 clubs multidisciplinaires et 1200 membres actifs, Esprit dispose d'une vie estudiantine riche et variée. Chaque semaine des événements sont organisés par les membres de clubs afin d'enrichir le quotidien chargé des étudiants et renforcer  l'esprit d'appartenance.
					</p>
					
				</div>
			</div>
		</div>
	</div>

	<div class="info-content4 border-top padding-100">
		<div class="container">
			<div class="row center-content">
				<div class="col-md-5">
					<h2 class="space40"><span>Pour vous inscrire </span> au concours</h2>
					<p>2 photographies d'identité,
3 formulaires de visa remis par le Consulat tunisien,
Photocopie des 3 premières pages du passeport,
Photocopie de l'attestation de pré-inscription délivrée par l'Université. </p>
					
				</div>
				<div class="col-md-6 col-md-push-1 text-center">
					<img src="img/xtra/1.svg" class="center-block" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="info-content4 bg-primary no-padding">
		<div class="container">
			<div class="row center-content">
				<div class="col-md-5 col-sm-7">
					<img src="img/3.png" class="pull-right" alt="">
				</div>
				<div class="col-md-6 col-sm-5 col-sm-push-0 col-md-push-1">
					<h2 class="white-text space40">Pourquoi le travail en<br>groupe</h2>
					<p class="white-text space80">Afin de comprendre ce qu'il est possible d'attendre du travail en
équipes des élèves et de se demander quelles sont les conditions qui
permettent d'en espérer la meilleure efficacité, il convient de rappeler
d'abord une distinction fondatrice de bien des questions pédagogiques et tout
à fait déterminante dans le traitement de cette question particulière : la
distinction entre la tâche et l'objectif. Je n'entends pas ici le terme d'
« objectif » dans le sens technique qui lui a été donné dans le cadre de ce
que l'on a nommé « la pédagogie par objectifs » (et qui renvoie à un
comportement observable, annoncé à l'avance aux élèves comme la
performance à atteindre, et situé dans une progression taxonomique
rigoureuse) ; disons simplement que l'objectif est ce que l'enseignant veut
faire acquérir à chaque élève dans le cadre d'une situation d'apprentissage
qu'il met en place ; cette acquisition n'est intéressante, évidemment, que si
elle est durable, c'est-à-dire si elle dépasse le stade de la simple capacité à
reproduire à court terme un savoir-faire purement scolaire ; en ce sens un
« objectif » est une acquisition mentale stabilisée et qui peut être utilisée par
la personne qui l'a atteint, à sa propre initiative et dans un autre contexte
que celui de l'apprentissage. On voit donc qu'ici ce qui caractérise un objectif,
c'est que son acquisition est en elle-même absolument invisible et que l'on
peut simplement inférer de celle-ci à travers des comportements, des
exercices ou des tâches... mais sans jamais avoir la certitude absolue que les
performances accomplies ne sont pas attribuables à une conjoncture
particulièrement favorable ou à une habileté acquise de manière tout à fait
fugace.</p>
				</div>
			</div>
		</div>
	</div>



	
</div>



</html>
