<meta charset="UTF-8">
<html ng-app="Myschoolbord">
<div class="slider">

	<div class="slider">
		<div id="intro" class="intro2">
			<div class="container">
			</div>
		</div>
	</div>
	<br><br><br>

<div style="width:50%;margin-left:10%;">

    <h1>Timetable Formulaire</h1>
	<form>
	<div class="form-group">
						<label for="InputEmail1">DateDebut du timetable</label>
						<input  ng-model="timetable.DateDebut" ng-keyup="changed($timetable)"
						class="form-control" id="InputEmail1" placeholder="Entrer le DateDebut " >
	</div>
	
	
	<div class="form-group">
						<label for="InputEmail1">DateFin du timetable</label>
						<input    ng-model="timetable.DateFin"
						class="form-control" id="InputEmail1" placeholder="Entrer le DateFin " >
	</div>
	
	
	<div class="form-group">
						<label for="InputEmail1">filenamee du timetable</label>
						<input    ng-model="timetable.filenamee"
						class="form-control" id="InputEmail1" placeholder="Entrer le filenamee " >
	</div>
	
	
	
	<div class="form-group">
						<label for="InputEmail1">filecode du timetable</label>
						<input    ng-model="timetable.filecode"
						class="form-control" id="InputEmail1" placeholder="Entrer le filecode " >
	</div>
	
	<!-- debut Les bouttons-->
					<a class="btn btn-sm btn-primary"  ng-click="save()"  >
							<span><i class="icon-play2"></i> Ajouter</span>
					</a>
					
					<a class="btn btn-sm btn-color3" ng-click="update()">
							<span><i class="icon-cog"></i> Modifier</span>
					</a>
					
					<a class="btn btn-sm btn-color5" ng-click="delete(timetable)">
							<span><i class="icon-box3"></i> Supprimer</span>
					</a>

					
					<a class="btn btn-sm btn-color4" ng-click="reset()">
							<span><i class="icon-layers"></i> Reset</span>
					</a>
		<!-- fin Les bouttons-->	 
    </form>
	
</div><br><br>
<div style="margin-left:10%;">
    <h1>Timetable List</h1>
 
</div>
<hr>
<table id="example" class="table table-striped table-bordered" style="width:50%;margin-left:10%;">
					<thead>
						<tr>
							
							<th><b>DateDebut du timetable</b></th>
							<th><b>DateFin du timetable</b></th>
							<th><b>filenamee du timetable</b></th>
							<th><b>filecode du timetable</b></th>
						</tr>
					</thead>
					<tbody ng-repeat="timetable in timetables" ng-click="selectTimetable(timetable,$index)" >
						<tr>
						
							<td>{{timetable.DateDebut}}</td>
							<td>{{timetable.DateFin}} </td>
							<td>{{timetable.filenamee}} </td>
							<td>{{timetable.filecode}} </td>
						
						</tr>
						
					</tbody>
</table>
<br><br><br><br>
</div>
</html>
